<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72310219395-ube2ts29ao70677ppiblmo82tdink46f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72310219395-ube2ts29ao70677ppiblmo82tdink46f</string>
	<key>API_KEY</key>
	<string>AIzaSyByKE7tCEP8ZPYlQT4dB258TEazVRTKHIc</string>
	<key>GCM_SENDER_ID</key>
	<string>72310219395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anthonyfinch.fanpage</string>
	<key>PROJECT_ID</key>
	<string>fan-page-ed9b6</string>
	<key>STORAGE_BUCKET</key>
	<string>fan-page-ed9b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72310219395:ios:840bcc0411e68827a731b6</string>
</dict>
</plist>